params {
    case_samples = 'path/to/case_samples/*'
    control_samples = 'path/to/control_samples/*'
    reference_genome = 'path/to/reference/genome'
    gtf_file = 'path/to/annotation.gtf'
    outdir = 'results'
}

process {
    withName: fastqc {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
    withName: alignReads {
        cpus = 4
        memory = '16 GB'
        time = '8h'
    }
    withName: quantifyExpression {
        cpus = 2
        memory = '8 GB'
        time = '4h'
    }
    withName: differentialExpression {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
}

workflow {
    main {
        outdir = params.outdir
    }
}